.header {
  position: relative;
  height: 95vh;
  @include liner-img('../img/background.jpg');
  background-position: bottom;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__logo {
    height: 5rem;
    &:hover {
      transform: scale(1.05);
    
    }
  }

  &__text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
  }

}
